### 001 print 기초
#### 화면에 Hello World 문자열을 출력하세요.

In [1]:
print('Hello World')

Hello World

### 002 print 기초
#### 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

### 003 print 기초
#### 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

### 004 print 기초
#### 화면에 C:\Windows를 출력하세요.

In [4]:
print('C:\\Windows')

C:\Windows

### 005 print 탭과 줄바꿈
#### 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

> \n : 줄 바꾸기  
\t : 탭 간격 만큼 띄우기

### 006 print 여러 데이터 출력
#### print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

In [6]:
print("오늘은", "일요일")

오늘은 일요일

> 두 단어 사이에 공백이 하나 생김

### 007 print 기초
#### print() 함수를 사용하여 다음과 같이 출력하세요.

In [9]:
print("naver", "kakao", "sk", "samsung", sep=';')

naver;kakao;sk;samsung

### 008 print 기초
#### print() 함수를 사용하여 다음과 같이 출력하세요.

In [10]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

### 009 print 줄바꿈
#### 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [12]:
print("first", end='');print("second")

firstsecond

### 010 연산 결과 출력
#### 5/3의 결과를 화면에 출력하세요.

In [13]:
print(5/3)

1.6666666666666667

### 011 변수 사용하기
#### 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.#

In [16]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012 변수 사용하기
#### 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [18]:
시가총액 = 298 * 10**13
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

2980000000000000
50000
15.79

### 013 문자열 출력
#### 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

In [19]:
s = 'hello'
t = 'python'

print(f'{s}! {t}')

hello! python

### 014 파이썬을 이용한 값 계산
#### 아래 코드의 실행 결과를 예상해보세요.

In [20]:
2 + 2 * 3

8

### 015 type 함수
#### type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

In [21]:
a = "132"
print(type(a))

<class 'str'>

### 016 문자열을 정수로 변환
#### 문자열 '720'를 정수형으로 변환해보세요.

In [22]:
num_str = "720"
print(type(int(num_str)))

<class 'int'>

### 017 정수를 문자열 100으로 변환
#### 정수 100을 문자열 '100'으로 변환해보세요.

In [23]:
num = 100
print(type(str(num)))

<class 'str'>

### 018 문자열을 실수로 변환
#### 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [28]:
print(type(float("15.79")))

<class 'float'>

### 019 문자열을 정수로 변환
#### year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [31]:
year = "2020"
year = int(year)

print(year - 3)
print(year - 2)
print(year - 1)

2017
2018
2019

### 020 파이썬 계산
#### 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [32]:
month_price = 48584
total_price = month_price * 36
print(total_price)

1749024

### 021 문자열 인덱싱
#### letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [33]:
letters = 'python'
print(letters[0], letters[2])

p t

### 022 문자열 슬라이싱
#### 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [34]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

### 023 문자열 인덱싱
#### 아래의 문자열에서 '홀' 만 출력하세요.

In [35]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

### 024 문자열 슬라이싱
#### 문자열을 거꾸로 뒤집어 출력하세요.

In [37]:
string = "PYTHON"
print(string[::-1])

NOHTYP

### 025 문자열 치환
#### 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [38]:
phone_number = "010-1111-2222"
phone_number2 = phone_number.replace('-', ' ')
print(phone_number2)

010 1111 2222

### 026 문자열 다루기
#### 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [39]:
phone_number = "010-1111-2222"
phone_number3 = phone_number.replace('-', '')
print(phone_number3)

01011112222

### 027 문자열 다루기
#### url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [40]:
url = "http://sharebook.kr"
print(url[-2:])

kr

### 028 문자열은 immutable
#### 아래 코드의 실행 결과를 예상해보세요.

In [41]:
lang = 'python'
lang[0] = 'P'
print(lang) # 문자열은 수정 불가능

TypeError: 'str' object does not support item assignment

### 029 replace 메서드
#### 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [42]:
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

### 030 replace 메서드
#### 아래 코드의 실행 결과를 예상해보세요.

In [43]:
string = 'abcd'
string.replace('b', 'B')
print(string) # 문자열은 변경할 수 없기 때문에 abcd 그대로 출력

abcd

### 031 문자열 합치기
#### 아래 코드의 실행 결과를 예상해보세요.

In [44]:
a = "3"
b = "4"
print(a + b) # 문자열의 덧셈이므로 이어서 출력

34

### 032 문자열 곱하기
#### 아래 코드의 실행 결과를 예상해보세요.

In [45]:
print("Hi" * 3) # 문자열이 int 개수만큼 반복해서 출력

HiHiHi

### 033 문자열 곱하기
#### 화면에 '-'를 80개 출력하세요.

In [46]:
print('-' * 80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
#### 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

In [50]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '

print(t3 * 4)

python java python java python java python java

### 035 문자열 출력
#### 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [55]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력
#### 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [59]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력
#### 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [60]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기
#### 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [63]:
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',',''))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

### 039 문자열 슬라이싱
#### 다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [66]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

### 040 strip 메서드
#### 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [67]:
data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자

### 041 upper 메서드
#### 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [68]:
ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

### 042 lower 메서드
#### 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [69]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

### 043 capitalize 메서드
#### 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [70]:
a = 'hello'
b = a.capitalize()
print(b)

Hello

### 044 endswith 메서드
#### 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [75]:
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

### 045 endswith 메서드
#### 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [79]:
file_name = "보고서.xlsx"
print(file_name.endswith(("xlsx", "xls")))

True

### 046 startswith 메서드
#### 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [80]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

### 047 split 메서드
#### 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [81]:
a = "hello world"
print(a.split())

['hello', 'world']

### 048 split 메서드
#### 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [82]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

### 049 split 메서드
#### 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [84]:
data = "2020-05-01"
print(data.split('-'))

['2020', '05', '01']

### 050 rstrip 메서드
#### 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [85]:
data = "039490     "
print(data.rstrip())

039490

### 051 리스트 생성
#### 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

In [89]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

### 052 리스트에 원소 추가
#### 051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [90]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

### 053
#### movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [94]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 054
#### movie_rank 리스트에서 '럭키'를 삭제하라.

In [95]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 055
#### movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [99]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

### 056
#### lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [101]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

### 057
#### 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [104]:
nums = [1, 2, 3, 4, 5, 6, 7]

print(f'max:  {max(nums)}\nmin:  {min(nums)}')

max:  7
min:  1

### 058
#### 다음 리스트의 합을 출력하라.

In [106]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

### 059
#### 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [107]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

### 060
#### 다음 리스트의 평균을 출력하라.

In [109]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

### 061
#### price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [110]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

### 062
#### 슬라이싱을 사용해서 홀수만 출력하라.

In [111]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

### 063
#### 슬라이싱을 사용해서 짝수만 출력하라.

In [112]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

### 064
#### 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [113]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

### 065
#### interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [122]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(' '.join(interest[::2]))

삼성전자 Naver

### 066 join 메서드
#### interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [121]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 067 join 메서드
#### interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [123]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### 068 join 메서드
#### interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [124]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### 069 문자열 split 메서드
#### 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

In [125]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

### 070 리스트 정렬
#### 리스트에 있는 값을 오름차순으로 정렬하세요.

In [127]:
data = [2, 4, 3, 1, 5, 10, 9]
print(sorted(data))

[1, 2, 3, 4, 5, 9, 10]

### 071
#### my_variable 이름의 비어있는 튜플을 만들라.

In [130]:
my_variable = ()

print(type(my_variable))

<class 'tuple'>

### 072
#### 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [131]:
movie_rank = ('닥터 스트레인지','스플릿','럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

### 073
#### 숫자 1 이 저장된 튜플을 생성하라.

In [132]:
a = (1,)
print(a, type(a))

(1,) <class 'tuple'>

### 074
#### 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

In [133]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

> 튜플은 값을 수정할 수 없다.

### 075
#### 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

In [134]:
t = 1, 2, 3, 4
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

> 튜플이다.

### 076
#### 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

In [135]:
t = ('a', 'b', 'c')
t = list(t)
t[0] = 'A'
t = tuple(t)
print(t)

('A', 'b', 'c')

### 077
#### 다음 튜플을 리스트로 변환하라.

In [139]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest, type(interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

### 078
#### 다음 리스트를 튜플로 변경하라.

In [138]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(interest, type(interest))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

### 079 튜플 언팩킹
#### 다음 코드의 실행 결과를 예상하라.

In [140]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

> 튜플의 각 원소가 a, b, c에 매칭되어 출력된다.

### 080 range 함수
#### 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [141]:
a = tuple(range(2, 100, 2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)