# UNIT10 리스트와 튜플 사용하기
### 10.1 리스트 만들기

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

### 10.1.1 리스트에 여러 가지 자료형 저장하기

In [2]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

### 10.1.2 빈 리스트 만들기

In [3]:
a = []
print(a)

b = list()
print(b)

[]
[]

### 10.1.3 range를 사용하여 리스트 만들기

In [4]:
range(10)

range(0, 10)

In [5]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [8]:
c = list(range(-4, 10, 2))
print(c)

[-4, -2, 0, 2, 4, 6, 8]

In [10]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10.2 튜플 사용하기

In [11]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [12]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [13]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

### 10.2.1 요소가 한 개 들어있는 튜플 만들기

In [14]:
(38) # 튜플이 아니라 그냥 값

38

In [17]:
(38, )

(38,)

In [18]:
38,

(38,)

### 10.2.2 range를 사용하여 튜플 만들기

In [19]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [21]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

### 10.2.3 튜플을 리스트로 만들고 리스트를 튜플로 만들기

In [22]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [23]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

#### 참고) list와 tuple 안에 문자열을 넣으면?

In [25]:
print(list('Hello'))
print(tuple('Hello'))

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')

#### 참고) 리스트와 튜플로 변수 만들기

In [26]:
a, b, c = [1, 2, 3]
print(a, b, c)

d, e, f = (4, 5, 6)
print(d, e, f)

1 2 3
4 5 6

In [28]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

y = (4, 5, 6)
d, e, f = y
print(d, e, f)

1 2 3
4 5 6

In [29]:
x = input().split()

a, b = x
print(a, b)

10 20

### 10.3 퀴즈
#### 1. 다음 중 리스트를 만드는 방법으로 올바른 것을 모두 고르세요.

In [31]:
a = []
print(a) # a

[]

In [32]:
a = [10, 20, 30]
print(a) # c

[10, 20, 30]

In [33]:
a = list(range(10, 31, 10))
print(a) # d

[10, 20, 30]

#### 2. 다음 중 튜플을 만드는 방법으로 올바른 것을 모두 고르세요.

In [34]:
a = 10, 20, 30, False, 'Hello'
print(a) # b

(10, 20, 30, False, 'Hello')

In [35]:
a = (False, 'Python')
print(a) # c

(False, 'Python')

In [36]:
a = tuple([10, 20, 30])
print(a) # e

(10, 20, 30)

#### 3. 다음 중 튜플 (-10, -7, -4, -1, 2, 5, 8)을 만드는 방법으로 올바른 것을 고르세요.

In [39]:
a = tuple(range(-10, 10, 3))
print(a) # d

(-10, -7, -4, -1, 2, 5, 8)

### 10.4 연습문제: range로 리스트 만들기

In [42]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

### 10.5 심사문제: range로 튜플 만들기

In [43]:
print(tuple(range(-10, 10, int(input()))))

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [44]:
print(tuple(range(-10, 10, int(input()))))

(-10, -7, -4, -1, 2, 5, 8)

# UNIT11 시퀀스 자료형 활용하기

### 11.1 시퀀스 자료형의 공통 기능 사용하기
### 11.1.1 특정 값이 있는지 확인하기

In [45]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)

True
False

In [46]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(100 not in a)
print(30 not in a)

True
False

In [49]:
print(43 in (38, 76, 43, 62, 19))
print(1 in range(10))
print('P' in 'Hello, Python')

True
True
True

### 11.1.2 시퀀스 객체 연결하기

In [51]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

print(a + b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [52]:
print(list(range(0, 10)) + list(range(10, 20)))

print(tuple(range(0, 10)) + tuple(range(10, 20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [53]:
print('Hello, ' + 'world!')

Hello, world!

#### 참고) 문자열에 숫자 연결하기

In [54]:
print('Hello, ' + str(10))
print('Hello, ' + str(1.5))

Hello, 10
Hello, 1.5

### 11.1.3 시퀀스 객체 반복하기

In [55]:
print([0, 10, 20, 30] * 3)

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [56]:
print(list(range(0, 5, 2)) * 3)
print(tuple(range(0, 5, 2)) * 3)

[0, 2, 4, 0, 2, 4, 0, 2, 4]
(0, 2, 4, 0, 2, 4, 0, 2, 4)

In [57]:
print('Hello, ' * 3)

Hello, Hello, Hello,

### 11.2 시퀀스 객체의 요소 개수 구하기
### 11.2.1 리스트와 튜플의 요소 개수 구하기

In [58]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
len(a)

10

In [59]:
b = (38, 76, 43, 62, 19)
len(b)

5

### 11.2.2 range의 숫자 생성 개수 구하기

In [60]:
len(range(0, 10, 2))

5

### 11.2.3 문자열의 길이 구하기

In [61]:
hello = "Hello, world!"
len(hello)

13

In [62]:
hello = '안녕하세요'
len(hello)

5

#### 참고) UTF-8 문자열의 바이트 수 구하기

In [63]:
hello = '안녕하세요'
len(hello.encode('utf-8'))

15

In [64]:
a = [38, 21, 53, 62, 19]
print(a[0])
print(a[2])
print(a[4])

38
53
19

In [65]:
b = (38, 21, 53, 62, 19)
print(b[0])

38

In [67]:
r = range(0, 10, 2)
print(r[2])

4

In [68]:
hello = 'Hello, world!'
print(hello[7])

w

#### 참고) 시퀀스 객체에 인덱스를 지정하지 않으면?

In [69]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

#### 참고) \_\_getitem\_\_ 메서드

In [70]:
a = [38, 21, 53, 62, 19]
a.__getitem__(1)

21

### 11.3.1 음수 인덱스 지정하기

In [71]:
a = [38, 21, 53, 62, 19]
print(a[-1])
print(a[-5])

19
38

In [72]:
b = (38, 21, 53, 62, 19)
print(b[-1])

19

In [73]:
r = range(0, 10, 2)
print(r[-3])

4

In [74]:
hello = 'Hello, world!'
print(hello[-4])

r

### 11.3.2 인덱스의 범위를 벗어나면?

In [75]:
a = [38, 21, 53, 62, 19]
print(a[5])

IndexError: list index out of range

### 11.3.3 마지막 요소에 접근하기

In [76]:
a = [38, 21, 53, 62, 19]
print(len(a))

print(a[5]) # 인덱스 범위 밖이라 에러

5

IndexError: list index out of range

In [77]:
a[len(a) - 1]

19

### 11.3.4 요소에 값 할당하기

In [78]:
a = [0, 0, 0, 0, 0]
a[0] = 38
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19

print(a)

print(a[0])
print(a[4])

[38, 21, 53, 62, 19]
38
19

In [79]:
a[5] = 90 # 범위를 벗어난 인덱스에 값을 할당하여 에러 발생

IndexError: list assignment index out of range

In [80]:
b = (0, 0, 0, 0, 0)
b[0] = 38 # tuple 객체는 값 할당을 지원하지 않음

TypeError: 'tuple' object does not support item assignment

In [81]:
r = range(0, 10, 2)
r[0] = 3 # range 객체는 값 할당을 지원하지 않음

TypeError: 'range' object does not support item assignment

In [82]:
hello = 'Hello, world!'
hello[0] = 'A' # str 객체는 값 할당을 지원하지 않음

TypeError: 'str' object does not support item assignment

### 11.3.5 del로 요소 삭제하기

In [83]:
a = [38, 21, 53, 62, 19]
del a[2]
print(a)

[38, 21, 62, 19]

In [84]:
b = (38, 21, 53, 62, 19)
del b[2] # tuple 객체는 값 삭제를 지원하지 않음

TypeError: 'tuple' object doesn't support item deletion

In [85]:
r = range(0, 10, 2)
del r[2] # range 객체는 값 삭제를 지원하지 않음

TypeError: 'range' object doesn't support item deletion

In [86]:
hello = 'Hello, world!'
del hello[2] # str 객체는 값 삭제를 지원하지 않음

TypeError: 'str' object doesn't support item deletion

### 11.4 슬라이스 사용하기

In [87]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [88]:
a[0:10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [89]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[1:1])
print(a[1:2])

[]
[10]

### 11.4.1 리스트의 중간 부분 가져오기

In [90]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[4:7]

[40, 50, 60]

In [91]:
a[4:-1]

[40, 50, 60, 70, 80]

### 11.4.2 인덱스 증가폭 사용하기

In [92]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:3]

[20, 50]

In [93]:
a[2:9:3]

[20, 50, 80]

### 11.4.3 인덱스 생략하기

In [94]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [95]:
a[7:]

[70, 80, 90]

In [96]:
a[:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 11.4.4 인덱스를 생략하면서 증가폭 사용하기

In [97]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[:7:2]

[0, 20, 40, 60]

In [98]:
a[7::2]

[70, 90]

In [99]:
a[::2]

[0, 20, 40, 60, 80]

In [100]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

#### 참고) 슬라이스의 인덱스 증가폭을 음스로 저장하면?

In [101]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[5:1:-1]

[50, 40, 30, 20]

In [102]:
a[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

### 11.4.5 len 응용하기

In [104]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[0:len(a)])
print(a[:len(a)])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 11.4.6 튜플, range, 문자열에 슬라이스 사용하기

In [105]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
print(b[4:7])
print(b[4:])
print(b[:7:2])

(40, 50, 60)
(40, 50, 60, 70, 80, 90)
(0, 20, 40, 60)

In [106]:
r = range(10)
r

range(0, 10)

In [107]:
print(r[4:7])
print(r[4:])
print(r[:7:2])

range(4, 7)
range(4, 10)
range(0, 7, 2)

In [108]:
list(r[:7:2])

[0, 2, 4, 6]

In [109]:
hello = 'Hello, world!'
print(hello[2:9])
print(hello[2:])
print(hello[:9:2])

llo, wo
llo, world!
Hlo o

#### 참고) slice 객체 사용하기

In [110]:
print(range(10)[slice(4, 7, 2)])

print(range(10).__getitem__(slice(4, 7, 2)))

range(4, 7, 2)
range(4, 7, 2)

In [111]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
s = slice(4, 7)
a[s]

[40, 50, 60]

In [112]:
r = range(10)
r[s]

range(4, 7)

In [113]:
hello = 'Hello, world!'
hello[s]

'o, '

### 11.4.7 슬라이스에 요소 할당하기

In [114]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a', 'b', 'c']
a

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [115]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a']
a

[0, 10, 'a', 50, 60, 70, 80, 90]

In [116]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:5] = ['a', 'b', 'c', 'd', 'e']
a

[0, 10, 'a', 'b', 'c', 'd', 'e', 50, 60, 70, 80, 90]

In [117]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b', 'c']
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [118]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b'] # 킄기가 다른 슬라이스에 할당을 시도해서 에러 발생

ValueError: attempt to assign sequence of size 2 to extended slice of size 3

In [119]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
b[2:5] = ('a', 'b', 'c') # tuple 객체는 값 할당을 지원하지 않음

TypeError: 'tuple' object does not support item assignment

In [120]:
r = range(10)
r[2:5] = range(0, 3) # range 객체는 값 할당을 지원하지 않음

TypeError: 'range' object does not support item assignment

In [121]:
hello = 'Hello, world!'
hello[7:13] = 'Python' # str 객체는 값 할당을 지원하지 않음

TypeError: 'str' object does not support item assignment

### 11.4.8 del로 슬라이스 삭제하기

In [122]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
del a[2:5]
a

[0, 10, 50, 60, 70, 80, 90]

In [123]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

In [124]:
b = (0, 10, 20, 30, 40, 50, 60, 70, 80, 90)
del b[2:5] # tuple 객체는 값 삭제를 지원하지 않음

TypeError: 'tuple' object does not support item deletion

In [125]:
r = range(10)
del r[2:5] # range 객체는 값 삭제를 지원하지 않음

TypeError: 'range' object does not support item deletion

In [126]:
hello = 'Hello, world!'
del hello[2:9] # str 객체는 값 삭제를 지원하지 않음

TypeError: 'str' object does not support item deletion

### 11.5 퀴즈

#### 1. 다음 중 시퀀스 자료형에 대한 설명으로 잘못된 것을 모두 고르세요.

In [ ]:
# a. in 연산자는 시퀀스 객체 안에 특정 값이 없는지 확인한다. (X)
# b. range는 * 연산자로 반복할 수 없다. (O)
# c. 문자열 str은 시퀀스 자료형이다. (O)
# d. + 연산자로 두 시퀀스 객체를 연결하면 첫 번째 객체 안에 두 번째 객체가 들어간다. (X)
# e. len 함수는 시퀀스 객체에 들어있는 요소 개수를 구한다. (O)

#### 2. 리스트 a = [10, 20, 30, 40, 50, 60]에서 인덱스로 요소를 가져왔을 때 값이 올바르지 않은 것을 모두 고르세요.

In [ ]:
# a. a[0]은 10 (O)
# b. a[1]은 10 (X)
# c. a[3]은 40 (O)
# d. a[-1]은 50 (X)
# e. a[-1]은 60 (O)

#### 3. 튜플 a = (11, 22, 33, 44, 55, 66, 77, 88, 99)에서 (11, 55, 99)을 가져오는 방법으로 올바른 것을 모두 고르세요.

In [ ]:
# a. a[0:9] (X)
# b. a[0:9:3] (X)
# c. a[::4] (O)
# d. a[0:6:2] (X)
# e. a[0:len(a):4] (O)

#### 4. 다음 중 시퀀스 자료형의 슬라이스에 대한 설명으로 잘못된 것을 모두 고르세요.

In [ ]:
# a. 시퀀스 객체에 슬라이스로 범위를 지정하여 요소에 값을 할당하면 새 객체가 생성된다. (X)
# b. 문자열은 슬라이스를 사용하여 일부를 가져올 수 있다. (O)
# c. 튜플은 슬라이스를 사용하여 일부를 가져올 수 없다. (X)
# d. range 객체는 슬라이스로 범위를 지정하여 요소를 할당할 수 없다. (O)
# e. 시퀀스 객체에 인덱스 증가폭을 지정하여 요소를 할당할 때는
#    슬라이스 범위의 요소 개수와 할당할 요소 개수가 정확히 일치해야 한다. (O)

### 11.6 연습문제: 최근 3년간 인구 출력하기

In [127]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233,
              10022181, 9930616, 9857426, 9838892]
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

### 11.7 연습문제: 인덱스가 홀수인 요소 출력하기

In [128]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

### 11.8 심사문제: 리스트의 마지막 부분 삭제하기

In [129]:
x = input().split()

print(x[:-5])

['1', '2', '3', '4', '5']

In [130]:
x = input().split()

print(x[:-5])

['over', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl']

### 11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

In [133]:
a = input()
b = input()

a = a[1::2]
b = b[::2]

print(a, b, sep='')

yhnpto

In [134]:
a = input()
b = input()

a = a[1::2]
b = b[::2]

print(a, b, sep='')

plsrwer

In [135]:
print(1 in range(10))

True