# UNIT3 Hello, world!로 시작하기

In [1]:
print('Hello, world!')

Hello, world!

In [1]:
print('Hello, Python')

Hello, Python

### 3.6 퀴즈
#### 1. 다음 중 'Hello, world!'를 출력하는 방법으로 올바른 것을 고르시오.

In [2]:
print('Hello, world') # d번

Hello, world

### 3.7 연습문제: 문자열 출력하기
#### 다음 소스 코드를 완성하여 'Hello, world!'와 'Python Programming'이 각 줄에 출력되게 만드세요.

In [3]:
print('Hello, world!')
print('Python Programming')

Hello, world!
Python Programming

### 3.8 심사문제: 문자열 출력하기
#### 'Hello, world' 두 개를 각 줄에 출력하는 프로그램을 만드세요(대소문자 구분과 띄어쓰기가 정확해야 합니다). 정답에는 출력 결과를 만족하는 전체 소스 코드를 입력해야 합니다.

In [4]:
print('Hello, world!')
print('Hello, world!')

Hello, world!
Hello, world!

# UNIT4 기본 문법 알아보기

### 4.1 세미콜론

In [5]:
print('Hello, world!')

Hello, world!

In [6]:
print('Hello'); print('1234')

Hello
1234

### 4.2.1 한 줄 주석

In [7]:
# Hello, world! 출력
print('Hello, world!')

Hello, world!

In [ ]:
# print('Hello, world!')

In [ ]:
a = 1 + 2 # 더하기
print('Hello, world!') # printf('1234567890')

### 4.2.2 블록 주석

In [ ]:
# print('Hello, world!')
# print('1234567890')

In [9]:
# 더하기
# a = 1 + 2
# print('Hello, world!')

### 4.3 들여쓰기

In [12]:
a = 10

if a == 10:
    print('10입니다.')

10입니다.

### 4.4 코드 블록

In [13]:
if a == 10:
        print('10')
        print('입니다.')

10
입니다.

# UNIT5 숫자 계산하기

### 5.1.1 사칙연산

In [15]:
1 + 1

2

In [17]:
1 - 2

-1

In [18]:
2 * 2

4

In [19]:
5 / 2

2.5

In [20]:
4 / 2

2.0

### 5.1.2 나눗셈 후 소수점 이하를 버리는 // 연산자

In [21]:
5 // 2

2

In [22]:
4 // 2

2

In [23]:
5.5 // 2

2.0

In [24]:
4 // 2.0

2.0

In [25]:
4.1 // 2.1

1.0

### 5.1.3 나눗셈 후 나머지를 구하는 % 연산자

In [26]:
5 % 2

1

### 5.1.4 거듭제곱을 구하는 ** 연산자

In [27]:
2 ** 10

1024

### 5.1.5 값을 정수로 만들기

In [28]:
int(3.3) # 숫자

3

In [29]:
int(5 / 2) # 계산식

2

In [30]:
int('10') # 문자열

10

### 5.1.6 객체의 자료형 알아내기

In [32]:
print(type(10))

<class 'int'>

### 5.2 실수 계산하기

In [33]:
3.5 + 2.1

5.6

In [34]:
4.3 - 2.7

1.5999999999999996

In [35]:
1.5 * 3.1

4.65

In [36]:
5.5 / 3.1

1.7741935483870968

### 5.2.1 실수와 정수를 함께 계산하면?

In [37]:
4.2 + 5 # 실수가 출력

9.2

### 5.2.2 값을 실수로 만들기

In [38]:
float(5) # 숫자

5.0

In [39]:
float(1 + 2) # 계산식

3.0

In [40]:
float('5.3') # 문자열

5.3

In [41]:
print(type(3.5))

<class 'float'>

In [42]:
1.2+1.3j

(1.2+1.3j)

In [43]:
complex(1.2, 1.3)

(1.2+1.3j)

### 5.3 괄호 사용하기

In [44]:
35 + 1 * 2

37

In [45]:
(35 + 1) * 2

72

### 5.4 퀴즈
#### 1. 다음 중 10 / 4를 계산한 결과로 올바른 것을 고르세요(파이썬3).

In [46]:
10 / 4 # d번

2.5

#### 2. 다음 중 계산식의 결과를 실수로 만드는 방법으로 올바른 것을 고르세요.

In [47]:
float(10 // 3) # c번

3.0

#### 3. 7 + (10 - 5) * 2의 계산 결과를 입력하세요.

In [48]:
print(7 + (10 - 5) * 2)

17

### 5.5 연습문제: 아파트에서 소음이 가장 심한 층수 출력하기

In [50]:
distance = 12
print(0.2467 * distance + 4.159)

7.1194

### 5.6 심사문제: 스킬 공격력 출력하기

In [51]:
AP = 102
print(AP * 0.6 + 225)

286.2

# UNIT6 변수와 입력 사용하기

### 6.1 변수 만들기

In [52]:
x = 10
x

10

In [53]:
y = 'Hello, world!'
y

'Hello, world!'

### 6.1.1 변수의 자료형 알아내기

In [54]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### 6.1.2 변수 여러 개를 한 번에 만들기

In [56]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [57]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [58]:
x, y = 10, 20
x, y = y, x
print(x)
print(y)

20
10

In [61]:
a = 10
b = 20
c = a + b
print(c)

30

### 6.2.1 산술 연산 후 할당 연산자 사용하기

In [62]:
a = 10
print(a + 20)
print(a)

30
10

In [63]:
a = 10
a = a + 20 # a와 20을 더한 후 결과를 다시 a에 저장
print(a)

30

In [65]:
a = 10
a += 20 # a와 20을 더한 후 결과를 다시 a에 저장
a

30

In [67]:
x = -10
print(+x)
print(-x)

-10
10

### 6.3 입력 값을 변수에 저장하기
### 6.3.1 input 함수 사용하기

In [68]:
input()

'Hello, world!'

### 6.3.2 input 함수의 결과를 변수에 할당하기

In [69]:
x = input()

In [70]:
x

'Hello, world!'

In [71]:
x = input('문자열을 입력하세요: ')

x

'Hello, world!'

### 6.3.3 두 숫자의 합 구하기

In [72]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a + b)

1020

In [74]:
a = input()

print(type(a))

<class 'str'>

### 6.3.4 입력 값을 정수로 변환하기

In [75]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))

print(a + b)

30

### 6.4 입력 값을 변수 두 개에 저장하기

In [78]:
a, b = input('문자열 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리

print(a)
print(b)

Hello
Python

### 6.4.1 두 숫자의 합 구하기

In [79]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리

print(a + b)

1020

### 6.4.2 입력 값을 정수로 변환하기

In [80]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리
a = int(a) # 변수를 정수로 변환한 뒤 다시 저장
b = int(b) # 변수를 정수로 변환한 뒤 다시 저장

print(a + b)

30

### 6.4.3 map을 사용하여 정수로 변환하기

In [81]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split()) # 입력된 2개의 숫자를 각각 int에 맵핑

print(a + b)

30

In [82]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
print(a + b)

30

### 6.5 퀴즈
#### 1. 다음 중 변수를 만드는 방법으로 올바른 것을 고르세요.

In [83]:
x = 10 # c번

#### 2. 다음 중 변수 이름으로 사용할 수 없는 것을 모두 고르세요.

In [ ]:
# a, c, e, g, h

#### 3. 다음 중 변수와 연산자의 사용 방법으로 올바르지 않은 것을 모두 고르세요(파이썬3).

In [84]:
a = 20
b = 30

In [ ]:
# b, d

#### 4. 다음과 같이 값이 두 개 입력됩니다. 입력된 값을 실수로 변환하여 변수 두 개에 저장하는 방법을 고르세요.

In [85]:
a, b = map(float, input('실수를 입력하세요: ').split())

In [86]:
print(a)
print(b)

1.5
2.7

### 6.6 연습문제: 정수 세 개를 입력받고 합계 출력하기

In [87]:
a, b, c = map(int, input('정수를 입력하세요: ').split())

print(a + b + c)

40

### 6.7 심사문제: 변수 만들기

In [88]:
a = 50
b = 100
c = None

print(a)
print(b)
print(c)

50
100
None

### 6.8 심사문제: 평균 점수 구하기

In [94]:
a, b, c, d = map(int, input().split())

print(int((a + b + c + d) / 4))

88

In [95]:
a, b, c, d = map(int, input().split())

print(int((a + b + c + d) / 4))

50

# UNIT7 출력 방법 알아보기

### 7.1 값을 여러 개 출력하기

In [96]:
print(1, 2, 3)
print('Hello', 'Python')

1 2 3
Hello Python

### 7.1.1 sep로 값 사이에 문자 넣기

In [97]:
print(1, 2, 3, sep=', ')
print(4, 5, 6, sep=',')
print('Hello', 'Python', sep='')
print(1920, 1080, sep='x')

1, 2, 3
4,5,6
HelloPython
1920x1080

### 7.2 줄바꿈 활용하기

In [98]:
print(1, 2, 3)

1 2 3

In [99]:
print(1, 2, 3, sep='\n')

1
2
3

In [100]:
print('1\n2\n3')

1
2
3

### 7.2.1 end 사용하기

In [101]:
print(1)
print(2)
print(3)

1
2
3

In [102]:
print(1, end='')
print(2, end='')
print(3)

123

In [103]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

### 7.3 퀴즈
#### 1. 다음 중 3.1 Python 100을 한 줄에 출력하는 방법으로 올바른 것을 고르세요.

In [104]:
print(3.1, 'Python', 100) # d번

3.1 Python 100

#### 2. 다음 중 16:9를 출력하는 방법으로 올바른 것을 고르세요.

In [105]:
print(16, 9, sep=':') # c번

16:9

### 3. 다음 중 'Hello'와 'Python'을 두 줄로 출력하는 방법으로 올바른 것을 모두 고르세요.

In [108]:
print('Hello\nPython') # b번
print('Hello', 'Python', sep='\n') # d번
print('Hello', '\n', 'Python', sep='') # e번

Hello
Python
Hello
Python
Hello
Python

### 7.4 연습문제: 날짜와 시간 출력하기

In [111]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

### 7.5 심사문제: 날짜와 시간 출력하기

In [112]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999-12-31T10:37:21

In [113]:
year, month, day, hour, minute, second = input().split()
print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

2017-10-27T11:43:59

### 핵심정리
#### 숫자 계산하기

In [114]:
1 + 1

2

In [115]:
1 - 2

-1

In [116]:
2 * 2

4

In [117]:
5 / 2

2.5

#### 계산 결과를 정수, 실수로 만들기

In [119]:
print(int(5 / 2))
print(float(1 + 2))

2
3.0

#### 괄호 사용하기

In [120]:
print(35 + 1 * 2)
print((35 + 1) * 2)

37
72

#### 변수 만들기

In [121]:
x = 10

#### 변수 삭제하기

In [122]:
x = 10
del x

#### 변수 여러 개 만들기

In [123]:
a, b, c = 10, 20, 30

In [124]:
x = y = z = 10

#### 산술 연산 후 할당 연산자 사용하기

In [125]:
a = 10
a += 20
a

30

#### 객체의 자료형 알아내기

In [126]:
print(type(3.3))
x = 10
print(type(x))

<class 'float'>
<class 'int'>

#### 입력 값을 변수에 저장하기

In [ ]:
s = input()
a = int(input())
b = float(input())

#### 한 번에 여러 개 입력받기

In [ ]:
a, b = input().split()
a, b = map(int, input().split())
a, b = map(float, input().split())

#### 값을 여러 개 출력하기

In [127]:
print(1, 2, 3)

1 2 3

#### print 함수의 출력 방식 제어하기

In [128]:
print(1, 2, 3, sep=', ')

1, 2, 3

In [129]:
print(1, end=' ')
print(2)

1 2

#### 개행 문자(줄바꿈 문자)

In [130]:
print('1\n2\n3')

1
2
3

# UNIT8 불과 비교, 논리 연산자 알아보기

### 8.1 불과 비교 연산자 사용하기

In [131]:
print(True)
print(False)

True
False

### 8.1.1 비교 연산자의 판단 결과

In [132]:
3 > 1

True

### 8.1.2 숫자가 같은지 다른지 비교하기

In [134]:
print(10 == 10)
print(10 != 5)

True
True

### 8.1.3 문자열이 같은지 다른지 비교하기

In [135]:
print('Python' == 'Python')

print('Python' == 'python')

print('Python' != 'python')

True
False
True

### 8.1.4 부등호 사용하기

In [136]:
print(10 > 20)
print(10 < 20)
print(10 >= 10)
print(10 <= 10)

False
True
True
True

### 8.1.5 객체가 같은지 다른지 비교하기

In [138]:
print(1 == 1.0) # 값 자체를 비교

print(1 is 1.0) # 객체(object)를 비교

print(1 is not 1.0)

True
False
True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/308936446.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(1 is 1.0)
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/308936446.py:5: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(1 is not 1.0)

#### 정수 객체와 실수 객체가 서로 다른 것을 확인

In [139]:
print(id(1))
print(id(1.0))

4390541472
4493107568

#### 값 비교에 is를 쓰지 않기

In [143]:
a = -5
a is -5

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/632354002.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is -5

True

In [144]:
a = -6
a is -6

<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/782153807.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is -6

False

### 8.2 논리 연산자 사용하기

In [152]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [154]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [155]:
print(not True)
print(not False)

False
True

In [156]:
print(not True and False or not False)

True

### 8.2.1 논리 연산자와 비교 연산자를 함께 사용하기

In [157]:
print(10 == 10 and 10 != 5)
print(10 > 5 or 10 < 3)
print(not 10 > 5)
print(not 1 is 1.0)

True
True
False
True

<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/2329236567.py:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(not 1 is 1.0)

#### 정수, 실수, 문자열을 불로 만들기

In [158]:
print(bool(1))
print(bool(0))
print(bool(1.5))
print(bool('False')) # 문자열은 모두 True

True
False
True
True

### 8.3 퀴즈
#### 1. 다음 중 "x는 5와 같다"라는 뜻으로 올바른 것을 고르세요.

In [159]:
x = 5
x == 5 # c

True

#### 2. 다음 중 비교 연산자의 결과로 올바르지 않은 것을 고르세요.

In [161]:
print(6 == 2 * 3)
print(4 != 2 + 2)
print(2 * 3 is 3 + 3)
print(8 is 4 * 2.0) # d번 (is는 객체를 비교하기 때문에 정수랑 실수가 다르다)
print(5 is 6 - 1.1)

True
False
True
False
False

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/4146563054.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(2 * 3 is 3 + 3)
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/4146563054.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(8 is 4 * 2.0)
/var/folders/hf/j1jp3r4x3mgcms3hl1xy7krh0000gn/T/ipykernel_55837/4146563054.py:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(5 is 6 - 1.1)

#### 3. 다음 중 비교 연산자와 논리 연산자의 결과로 올바른 것을 모두 고르세요.

In [164]:
a = 10
b = 20

print(a == 10 or b == 10)
print(a >= 10 and b < 30) # b번
print(not a == 10) # c번
print(b != 20 or a != 10)
print(not b != 20 and a > 5)

True
True
False
False
True

#### 4. 다음 중 논리 연산의 결과를 뒤집는 연산자로 올바른 것을 고르세요.

In [165]:
# d번

### 8.4 연습문제: 합격 여부 출력하기

In [166]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

### 8.5 심사문제: 합격 여부 출력하기

In [167]:
a, b, c, d = map(int, input().split())

print(a >= 90 and b > 80 and c > 85 and d >= 80)

True

In [168]:
a, b, c, d = map(int, input().split())

print(a >= 90 and b > 80 and c > 85 and d >= 80)

False

# UNIT9 문자열 사용하기

### 9.1 문자열 사용하기

In [169]:
hello = 'Hello, world!'
print(hello)

Hello, world!

In [170]:
hello = '안녕하세요'
hello

'안녕하세요'

In [171]:
hello = "Hello, world!"
hello

'Hello, world!'

In [172]:
hello = '''Hello, Python!'''
hello

'Hello, Python!'

In [173]:
python = """Python Programming"""
python

'Python Programming'

### 9.1.1 여러 줄로 된 문자열 사용하기

In [174]:
hello = '''Hello, world!
안녕하세요.
Python입니다.'''
print(hello)

Hello, world!
안녕하세요.
Python입니다.

### 9.1.2 문자열 안에 작은 따옴표나 큰 따옴표 포함하기

In [175]:
s = "Python isn't difficult"
s

"Python isn't difficult"

In [176]:
s = 'He said "Python is easy"'
s

'He said "Python is easy"'

In [177]:
single_quote = '''"안녕하세요.
'파이썬'입니다.'''

print(single_quote)

"안녕하세요.
'파이썬'입니다.

In [178]:
double_quote1 = """"hello
'Python'"""

print(double_quote1)

"hello
'Python'

In [179]:
double_quote2 = """Hello, 'Python'"""

print(double_quote2)

Hello, 'Python'

In [180]:
'Python isn\'t difficult' # 따옴표 앞에 역슬래시 붙이면 포함 가능

"Python isn't difficult"

In [181]:
print('Hello\nPython')

Hello
Python

### 9.2 퀴즈
#### 1. 다음 중 문자열을 표현하는 방법으로 올바른 것을 모두 고르세요.

In [182]:
"Hello, world!" # b
'Hello, world!' # d

'Hello, world!'

#### 2. 다음 중 문자열을 여러 줄로 표현하는 방법으로 올바른 것을 모두 고르세요.

In [184]:
'''안녕하세요.
파이썬입니다.''' # a
"""안녕하세요.
파이썬입니다.""" # c

'안녕하세요.\n파이썬입니다.'

#### 3. 다음 중 문자열 안에 '(작은따옴표)나 "(큰따옴표)를 넣는 방법으로 올바른 것을 모두 고르세요.

In [186]:
'Hello, \'Python\'' # a
"Hello, 'Python'" # c
""""Hello", Python""" # d

'"Hello", Python'

### 9.3 연습문제: 여러 줄로 된 문자열 사용하기

In [187]:
s = '''Python is a programming language that lets you work quikly
and integrate systems more effectively.'''

print(s)

Python is a programming language that lets you work quikly
and integrate systems more effectively.

### 9.4 심사문제: 여러 줄로 된 문자열 사용하기

In [189]:
s = """'Python' is a "Programming language"
that lets you work quickly
and
integrate systems more effectively"""

print(s)

'Python' is a "Programming language"
that lets you work quickly
and
integrate systems more effectively